/* Estilos base para el componente Proyectos */
.Proyectos {
  display: inline-block;
  justify-content: space-between;
  margin-top: 10px;
}

.banner1, .banner2 {
  background: linear-gradient(to bottom, #022843, #024583, #0376c9);
  padding: 20px;
  height: 160px;
  border-radius: 0px;
  display: flex;
  color: white;
}

.banner1 {
  width: 300px;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-bottom: 20px;
}

.banner2 {
  width: 570px;
  flex-direction: row;
  align-items: center;
  text-align: justify;
}

.banner {
  display: flex;
}

.imagen-nombre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  display: left;
}

.contenido {
  padding: 0px;
  width: 100%;
  text-align: justify;
  display: inline-block;
}

.titulo2 {
  font-weight: bold;
  color: #363636;
  padding-left: 35px;
}

.informacion {
  margin-bottom: 10px;
  padding-left: 35px;
}

.icono-titulo {
  width: 25px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Nueva clase para el contenedor de proyectos */
.proyectos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Estilos para los proyectos */
.proyecto {
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

/* Media Query para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 768px) {
  .banner1, .banner2 {
    width: 100%; /* Aprovecha el ancho completo de la pantalla */
    flex-direction: column; /* Cambia la dirección de los elementos en pantallas más pequeñas */
    align-items: center;
    text-align: center;
  }

  .banner1 {
    margin-bottom: 20px;
  }

  .banner2 {
    width: 100%; /* Aprovecha el ancho completo de la pantalla */
    text-align: center;
  }

  .proyectos-container {
    grid-template-columns: 1fr; /* Una columna en pantallas más pequeñas */
  }

  .proyecto {
    width: 100%; /* Aprovecha el ancho completo de la pantalla para cada proyecto */
  }
}
